<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    nav {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px 0;
    }

    nav a {
      text-decoration: none;
      color: #fff;
      padding: 10px 20px;
      transition: background-color 0.3s ease;
    }

    nav a:hover {
      background-color: #555;
    }

    hr {
      border: none;
      height: 3px;
      background-color: red;
      margin: 0;
    }

    hr.blue {
      background-color: blue;
    }
  </style>
</head>
<body>
  <nav>
    <a href="/">Home</a> | 
    <a href="/insert">Insert data</a> |
    <a href="/display">Display</a>| 
    <a href="/update">Update</a>| 
    <a href="/search">Search</a>
  </nav>

</body>
</html>
